# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

__wand_targets/*
__wand_targets_rel/*
__wand_targets_dbg/*